pipeline/increm_data.json
{
	"name": "increm_data",
	"properties": {
		"activities": [
			{
				"name": "Copy_increm_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "last_load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "current_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM source_cars_data WHERE Date_ID > '@{activity('last_load').output.value[0].last_load}' and Date_ID <= '@{activity('current_load').output.value[0].max_date}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_carsales",
						"type": "DatasetReference",
						"parameters": {
							"table": "source_cars_data"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_bronze",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "last_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM water_table",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_carsales",
						"type": "DatasetReference",
						"parameters": {
							"table": "water_table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "current_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(Date_ID) as max_date From source_cars_data",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_carsales",
						"type": "DatasetReference",
						"parameters": {
							"table": "source_cars_data"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "updatewatertable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_increm_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatewatertable]",
					"storedProcedureParameters": {
						"last_load": {
							"value": {
								"value": "@activity('current_load').output.value[0].max_date",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azuresqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SilverNotebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "updatewatertable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/carsales/silver_layer"
				},
				"linkedServiceName": {
					"referenceName": "ls_databrick",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim_model",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SilverNotebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/carsales/Gold_dim_model"
				},
				"linkedServiceName": {
					"referenceName": "ls_databrick",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim_date",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SilverNotebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/carsales/Gold_dim_date"
				},
				"linkedServiceName": {
					"referenceName": "ls_databrick",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim_dealer",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SilverNotebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/carsales/Gold_dim_dealer"
				},
				"linkedServiceName": {
					"referenceName": "ls_databrick",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim_branch",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SilverNotebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/carsales/Gold_dim_branch"
				},
				"linkedServiceName": {
					"referenceName": "ls_databrick",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GoldNotebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "dim_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "dim_model",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "dim_branch",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "dim_dealer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/carsales/gold_fact"
				},
				"linkedServiceName": {
					"referenceName": "ls_databrick",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-02-12T22:25:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}